.customimg{

    border-radius: 50% !important;
    width: 650px;
  }
  
  .signbtn {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    background-color: #e7d9ad;
    color: #ac8364;
    border-radius: 50px;
    text-decoration: none; 
    font-weight: bold;
    transition: background-color  0.3s;
  }
  
  .signbtn:hover {
    background: linear-gradient(to right, rgb(0, 0, 0), #efd68b);
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    height: 39px;
    color: white;
    text-align: center;
    font-weight: bold;
}
  
  .custmh1{

    color:#ac9364;
  }
 
  
  
  @media (max-width: 786px) {
   
  .customimg{
    width:250px;
    
  }
 .text-center{
  
    justify-content: center; 
    align-items: center; 
  
 }
  }
  